@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 dark:bg-gray-900;

  h1 {
    @apply dark:text-gray-300;
  }
}

.card {
  @apply p-2 my-6 bg-white rounded-md shadow-lg dark:bg-gray-800;

  h2 {
    @apply font-semibold text-gray-800 dark:text-gray-300;
  }

  h3 {
    @apply font-semibold text-gray-800 dark:text-gray-300;
  }
}

button {
  @apply px-2 py-1 text-white text-sm rounded shadow dark:bg-gray-800 dark:text-gray-300;
}

button[disabled] {
  @apply opacity-50 cursor-not-allowed;
}

table {
  thead {
    @apply font-semibold uppercase text-gray-400 bg-gray-50 dark:bg-gray-700; // Adjust table header for dark mode
  }

  tbody {
    @apply divide-y divide-gray-100 dark:divide-gray-700; // Adjust table body for dark mode
  }

  th,
  td {
    @apply p-2 align-middle dark:text-gray-300;
  }

  th {
    @apply font-semibold text-left;
  }
}

label {
  @apply block text-gray-500 dark:text-gray-300 font-semibold md:text-right mb-1 md:mb-0 pr-4;
}

p {
  @apply text-gray-500 dark:text-gray-300;
}

input[type="text"],
input[type="number"],
select {
  @apply form-input block w-full px-2 py-1 rounded bg-gray-200 text-gray-700 border-2 border-gray-200 focus:bg-white focus:border-blue-500 focus:outline-none dark:bg-gray-800 dark:border-gray-800 dark:text-white;

  .card & {
    @apply bg-gray-100 border-gray-100 dark:bg-gray-900 dark:border-gray-900;
  }
}

select {
  @extend select;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  background-repeat: no-repeat;
}

input[type="checkbox"] {
  @apply form-checkbox h-5 w-5 rounded bg-gray-100 border border-gray-100 checked:bg-blue-500 dark:bg-gray-900 dark:border-gray-900;
}

.cb-label {
  @apply inline-flex items-center align-middle;
}

.blue {
  @apply bg-blue-500 border-blue-500 #{!important};

  &.outlined {
    @apply border-blue-500 text-blue-500;
  }
}

.amber {
  @apply text-white bg-yellow-500 #{!important};

  &.outlined {
    @apply border-yellow-500 text-yellow-500;
  }
}

.red {
  @apply text-white bg-red-500 #{!important};

  &.outlined {
    @apply border-red-500 text-red-500;
  }
}

.green {
  @apply text-white bg-green-500 #{!important};

  &.outlined {
    @apply border-green-500 text-green-500;
  }
}

.white {
  @apply text-black bg-white border-2 border-gray-500 #{!important};

  &.outlined {
    @apply border-black text-black;
  }
}

.nocolor {
  @apply text-white bg-gray-500 #{!important};
}

.outlined {
  @apply border;

  &:hover {
    @apply text-white;
  }

  &:not(:hover) {
    @apply bg-transparent dark:bg-transparent #{!important};
  }
}
