@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.card {
  @apply p-2 my-6 bg-white rounded-md shadow-lg;

  h2 {
    @apply font-semibold text-gray-800;
  }
}

button {
  @apply px-2 py-1 rounded-md shadow;
}

table {
  thead {
    @apply font-semibold uppercase text-gray-400 bg-gray-50;
  }

  tbody {
    @apply divide-y divide-gray-100;
  }

  th,
  td {
    @apply p-2 align-middle;
  }

  th {
    @apply font-semibold text-left;
  }
}

label {
  @apply block text-gray-500 font-bold md:text-right mb-1 md:mb-0 pr-4;
}

input[type="text"],
input[type="number"],
select {
  @apply form-input block w-full px-2 py-1 rounded bg-gray-200 text-gray-700 border-2 border-gray-200 focus:bg-white focus:border-blue-500 focus:outline-none;
}

select {
  @extend select;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  background-repeat: no-repeat;
}

input[type="checkbox"] {
  @apply form-checkbox h-5 w-5 text-blue-500 rounded;
}

.cb-label {
  @apply inline-flex items-center align-middle;
}

.blue {
  @apply text-white bg-blue-500 #{!important};
}

.amber {
  @apply text-white bg-yellow-500 #{!important};
}

.red {
  @apply text-white bg-red-500 #{!important};
}

.green {
  @apply text-white bg-green-500 #{!important};
}

.white {
  @apply text-black bg-white border-2 border-gray-500 #{!important};
}

.nocolor {
  @apply text-white bg-gray-500 #{!important};
}

.import-button {
  position: relative;
  overflow: hidden;
  display: inline-block;

  /* Fancy button looking */
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;

  input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
  }
}
